mat-toolbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 64px;
    justify-content: center;
}

.navButton {
    font-size: large;
    background-color: black;
    color: white;
    height: 100%;
    border: 1px solid black;
    height: 64px;
    
}

.toolbar-title {
    position: absolute; 
    left: 0; 
    margin-left: 15px; 
    margin-top: 12px;
}

.navButton:hover {
    background-color: rgba(255, 255, 255, 0.1); 
}


.nav-buttons {
    display: flex;
    justify-content: center;
}

