.player-icon {
    width: 20px; 
    height: 20px;
    border-radius: 50%; /* Makes it circular */
    background-size: cover;
    background-position: center;
    border: 1px solid #fff; /*  border */
}