<div class="playmaker-container">
   <!--  Map Selector   -->
    <div class="map-selector">
        <mat-form-field appearance="fill">
            <mat-label>Select a Map</mat-label>
            <mat-select (selectionChange)="onMapSelect($event.value)">
                <mat-option *ngFor="let map of maps" [value]="map">
                    {{ map.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    
    <!--  Page Content   -->
    <div class="content-wrapper">
        <div class="icon-container">
            <div class="dropdown-section" (click)="toggleAgents()">
                <span class="dropdown-icon">{{ showAgents ? '-' : '▼' }}</span>
                <p class="dropdown-title">Agents</p>
            </div>
            <div class="disIcons" *ngIf="showAgents">
                <app-player-icon *ngFor="let iconUrl of playerIconUrls" [iconUrl]="iconUrl"></app-player-icon>
            </div>
        </div>
        <img [src]="selectedMapUrl" alt="Selected Map" class="map-image">
    </div>
</div>
