<div class="home-container">
    <h1 class="title"><u>Welcome to ValGrind</u></h1>
    <div class="content">
        <div class="text-section">
            <span class="big-word">PLAN.</span>
            <span class="small-words">Plan Your Attack</span>
        </div>
        <div class="photo-section">
            <!-- Your photos here -->
            <img src="../../assets/Images/Plan-LoadIn-Execute/Plan.png" alt="Description of photo">
        </div>
    </div>
    <div class="content">
        <div class="text-section">
            <span class="big-word">LOAD IN.</span>
            <span class="small-words">Find Your Opponents</span>
        </div>
        <div class="photo-section">
            <!-- Your photos here -->
            <img src="../../assets/Images/Plan-LoadIn-Execute/LoadIn.png" alt="Description of photo">
        </div>
    </div>
    <div class="content">
        <div class="text-section">
            <span class="big-word">PLAY.</span>
            <span class="small-words">Dominate Your Games</span>
        </div>
        <div class="photo-section">
            <!-- Your photos here -->
            <img src="../../assets/Images/Plan-LoadIn-Execute/Play.png" alt="Description of photo">
        </div>
    </div>
</div>